@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('beach-1110498_1920.jpg');
    background-size: cover;
    background-position: center;
}

.menu-box {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.menu-box h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #333;
}

.menu-box ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    color: #444;
    line-height: 1.8;
}